GDIMagnifiedPicker/GDIMagnifiedPicker.xcodeproj/project.xcworkspace/contents.xcworkspacedata
GDIMagnifiedPicker/GDIMagnifiedPicker.xcodeproj/project.xcworkspace/xcuserdata/
GDIMagnifiedPicker/GDIMagnifiedPicker.xcodeproj/xcuserdata/